@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");

:root {
  --cardBG: whitesmoke;
  --cardBDR: lightgrey;
  --cardFNT: #151965;
  --clear: rgba(0, 0, 0, 0);
}

* {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  color: var(--cardFNT);
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html, body {
  height:100%;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:20px;
  background-image: url(/assets/tabletop.jpeg);
}

.wrapper {
  flex:1 0 auto;
}

main {
  width: 450px;
  border:4px solid var(--cardFNT);
  border-radius:5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .35);
}

header {
  display: block;
  text-align: center;
  background-color: var(--cardBG);
  color: var(--cardFNT);
  border-bottom: 4px solid var(--cardFNT);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: var(--cardBG);
  padding-top:5px;
  padding-bottom:5px;
}

footer {
  flex-shrink:0;
  width:100%;
  background-color: rgba(0, 0, 0, .75);
  padding-top:2px 0px;
  text-align:center;
  display:flex;
  flex-direction:row;
  justify-content:center;}

footer p{
  color:var(--cardBG);
  margin-right: 5px;
}

footer a{
  text-decoration:none;
  color:var(--cardBG);
}
button {
  width: 75px;
  height: 75px;
  border: none;
  border-radius: 5px;
  margin: 0px;
  padding: 0px;
  box-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.35);
  text-decoration: none;
}

button:active {
  transform: translateY(2px);
}

.interface {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #46b5d1;
}

.interface_left {
  padding: 10px 0px;
}

.interface_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 35px;
}

.attrib {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 240px;
  margin-bottom: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px 2.5px;
  padding: 20px 0px;
  background-color: var(--cardBG);
  color: var(--cardFNT);
  text-align: center;
  height: 150px;
  width: 100px;
  border: 3px solid var(--cardBDR);
  border-radius: 5px;
  box-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.35);
}

.card_control {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px;
  background-color: var(--cardBG);
  border-top:4px solid var(--cardFNT)
}

.card_control button {
  height: 50px;
  width: 100px;
  border: 2px solid var(--cardFNT);
}

#messages {
  background-color:orange;
  border-radius:0px;
  display: flex;
  align-items:center;
  justify-content: space-around;
}

.count {
  font-size: 30px;
}

button.empty {
  box-sizing: borderbox;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clear);
  background-color: var (--cardBG);
  border: 4px solid var(--cardFNT);
}

button.hatch {
  color: var(--clear);
  background: repeating-linear-gradient(
    to right,
    var(--cardFNT),
    var(--cardFNT) 2px,
    var(--cardBG) 2px,
    var(--cardBG) 7px
  );
  border: 4px solid var(--cardFNT);
}

.buttonBox {
  height: 75px;
  width: 75px;
  border-radius: 5px;
  background-color: var(--cardBG);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.35);
}

button.glyph {
  background-color: var(--cardFNT);
  box-shadow: none;
}

button.solid {
  color: var(--clear);
  background: var(--cardFNT);
}

button.color {
  border: 4px solid var(--cardBG);
}

.red {
  color: var(--clear);
  background-color: red;
}
.purple {
  color: var(--clear);
  background-color: purple;
}
.green {
  color: var(--clear);
  background-color: green;
}

.shape {
  color: var(--clear);
}

.pill {
  background: url(assets/pill.svg);
  background-color: var(--cardBG);
  background-size: 90px;
  background-position: center;
  background-repeat: no-repeat;
  /* color: var(--cardFNT); */
}

.diamond {
  background: url(assets/diamond.svg);
  background-color: var(--cardBG);
  background-size: 90px;
  background-position: center;
  background-repeat: no-repeat;
  /* color: var(--cardFNT); */
}

.squiggle {
  background: url(assets/squiggle.svg);
  background-color: var(--cardBG);
  background-size: 90px;
  background-position: center;
  background-repeat: no-repeat;
  /* color: var(--cardFNT); */
}

#field {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  align-items: center;
  padding-top:20px;
}

.card {
  height: 170px;
  width: 120px;
  background-color: #fefefe;
  border: 1px solid #000000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.55);
}

.glyph {
  height: 30px;
  width: 80px;
  background: rgba(0, 0, 0, 0.5);
  margin: 5px;
}

.glyph.pill {
  border-radius: 30px;
}
.glyph.diamond {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.glyph.squiggle {
  clip-path: polygon(
    0 25%,
    33% 0,
    66% 25%,
    100% 0,
    100% 75%,
    66% 100%,
    33% 75%,
    0 100%
  );
}

.glyph.smootherSquiggle {
  height: 300px;
  width: 800px;
  border: solid black 1px;
}

.red {
  background: red;
}
.green {
  background: green;
}
.purple {
  background: purple;
}

.red.hatch {
  background-image: linear-gradient(
    90deg,
    red 20%,
    #ffffff 20%,
    #ffffff 50%,
    red 50%,
    red 70%,
    #ffffff 70%,
    #ffffff 100%
  );
  background-size: 10px 10px;
}

.green.hatch {
  background-image: linear-gradient(
    90deg,
    green 20%,
    #ffffff 20%,
    #ffffff 50%,
    green 50%,
    green 70%,
    #ffffff 70%,
    #ffffff 100%
  );
  background-size: 10px 10px;
}

.purple.hatch {
  background-image: linear-gradient(
    90deg,
    purple 20%,
    #ffffff 20%,
    #ffffff 50%,
    purple 50%,
    purple 70%,
    #ffffff 70%,
    #ffffff 100%
  );
  background-size: 10px 10px;
}

.glyph.red.empty {
  background: radial-gradient(#fefefe, red);
}

.glyph.green.empty {
  background: radial-gradient(#fefefe, green);
}

.glyph.purple.empty {
  background: radial-gradient(#fefefe, purple);
}

@keyframes click {
  0% {
    transform: translate(5px -5px);
  }
  100% {
    transform: translate(0px 0px);
  }
}
